.detalle-container{
  margin: 20px auto;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: end;
  padding: 12px;
  border-radius: 7px;
}

#numero{
  position: absolute;
  top: 12px;
}

#masa{
  position: absolute;
  top: 12px;
  right: 12px;
}

#simbolo{
  font-size: 6rem;
  text-align: center;
}

#nombre{
  text-align: center;
}

.info-elemento{
  margin: auto;
}

.info-elemento > ul{
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.info-elemento > ul > li{
  color: red;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}

.info-elemento > ul > li >span {
  color: white;
}